section {
	margin: 20px 110px;
}

.joincontainer {
	display: flex;
	justify-content: space-between; /* 양쪽 끝에 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
	padding: 10px; /* 여백 추가 */
	margin-bottom : 20px;
}
.joincontainer span {
	font-size: 16px;
}

#section_wrap .create_account_form input {
	height: 25px;
	width: 350px;
	margin-right: 10px;
}

.shortinputdiv {
	height: 30px;
	width: 260px;
	border: 1px solid;
	border-radius: 2px;
}

#section_wrap .create_account_form .shortinput1 {
	height: 25px;
	width: 95px;
	margin: 0 10px;
	border: 0;
}

#section_wrap .create_account_form .shortinput2 {
	height: 25px;
	width: 225px;
	margin-right: 10px;
}

#section_wrap .create_account_form .shortinput3 {
	height: 25px;
	width: 95px;
	margin: 0 10px 0 0;
}

#section_wrap .create_account_form .shortinput4 {
	height: 25px;
	width: 95px;
	margin: 0 0 0 10px;
}

#section_wrap .create_account_form .select1 {
	height: 30px;
	width: 90px;
	margin-right: 10px;
}

#section_wrap .create_account_form .select2 {
	height: 30px;
	width: 90px;
	margin-left: 10px;
}

.container1 {
	display: flex;
	justify-content: between; /* 양쪽 끝에 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
}

#hr {
	margin: 30px 0;
}

#buttons {
	margin: 20px auto;
	text-align: center;
}

.IDConfirm {
	background-color: white; /* 배경색을 녹색(#4CAF50)으로 설정 */
	color: black;
	border: 1px solid;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	width: 150px;
}

.IDConfirm:hover {
	background-color: lightgray; /* 마우스 호버 시 배경색 변경 */
}

.join-button {
	background-color: black; /* 배경색을 빨간색(#f44336)으로 설정 */
	color: white;
	border: 1px solid;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	width: 120px;
}

.join-button:hover {
	background-color: #3b3b3b;
}

/* 삭제 버튼 스타일 */
.cancel-button {
	background-color: white; /* 배경색을 녹색(#4CAF50)으로 설정 */
	color: black;
	border: 1px solid;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	width: 120px;
}

.cancel-button:hover {
	background-color: lightgray; /* 마우스 호버 시 배경색 변경 */
}

li {
	font-size: 13px;
	margin: 8px 0;
}

.container2 {
	width: 80px;
}

#customPhoneInput input {
	width: 50px;
	margin-left: 10px;
}

#customEmailInput input {
	width: 50px;
	margin-left: 10px;
}

#star {
	color: orange;
}