body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.maintitle {
	padding-left: 20px;
}

.container {
	background-color: #fff;
	text-align: center;
	width: 80%;
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.commentary {
	color: #c8c8c8;
	margin-bottom: 30px;
}

.filter {
	text-align: center;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter label {
	padding-right: 10px;
}

/* 체크 박스 스타일 변경 */
.filter input[type="checkbox"] {
	width: 25px;
	height: 25px;
	margin-right: 30px;
	appearance: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	vertical-align: middle;
	/* 체크 박스를 텍스트와 가운데 정렬하기 위해 추가 */
	margin-left: 5px;
	/* 체크 박스와 글자 사이의 간격을 늘림 */
	position: relative;
	/* 추가: 상대 위치 설정 */
}

/* 체크 박스 클릭 시 스타일 변경 */
.filter input[type="checkbox"]:checked {
	/* background-color: #; */
	
}

/* 체크 박스 클릭 시 스타일 변경 및 체크 표시 추가 */
.filter input[type="checkbox"]:checked::before {
	content: '\2713';
	/* 체크 표시 (유니코드) */
	position: absolute;
	top: 50%;
	left: 50%;
	/* 체크 표시 위치 조정 */
	transform: translate(-50%, -50%);
	/* 체크 표시를 가운데 정렬 */
	font-size: 25px;
	/* 체크 표시 크기 조정 */
	color: #686868;
	/* 체크 표시 색상 설정 */
}

.input-box {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-box label {
	margin-bottom: 5px;
}

input[type="text"], textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
	/* 추가: 입력 창 크기 조정을 위해 */
}

.formatting-options {
	margin-bottom: 20px;
	text-align: center;
	/* 추가: 내용 가운데 정렬 */
}

.formatting-options label {
	display: block;
	margin-bottom: 5px;
}

.buttons {
	text-align: center;
	margin: 20px;
}

button {
	padding: 10px 20px;
	margin: 0 10px;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

#delete {
	background-color: #ffffff;
	color: #000000;
}

#register {
	background-color: #ffffff;
	color: #000000;
}

.file-input-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	/* 파일 선택 버튼을 오른쪽에 배치 */
	width: 100%;
}

#file-button {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	background-color: #ffffff;
	color: #000000;
	margin-left: 20px;
}

#image {
	flex-grow: 1;
	/* 파일 선택 입력창이 남은 공간을 채우도록 함 */
	width: auto;
	/* 기존 입력창들과 크기 일치 */
	margin: 0;
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}