#u_h1 {
	margin: 20px 110px;
}

#u_select {
	margin: 0 100px;
}

/* 사용자 정의 CSS */
/* Flexbox 레이아웃 설정 */
#container1 {
	text-align: center; /* 텍스트 중앙 정렬 */
}

#container1 button {
	padding: 10px 20px;
	width: 150px;
	background-color: white;
	border: none;
	margin: 0 100px; /* 각 링크 사이 여백 설정 */
	font-size: 20px; /* 폰트 크기 설정 */
	color: gray; /* 기본 글자색 */
}

#container1 button:hover {
	color: #ff6600; /* 마우스 호버 시 글자색 변경 */
}

#container1 button:first-child {
	color: black; /* "승인"의 글자색을 검정색으로 설정 */
	border-bottom: 2px solid black;
}

.container2 {
	display: flex;
	justify-content: space-between; /* 양쪽 끝에 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
	padding: 10px; /* 여백 추가 */
	margin: 20px 0;
}

.search form {
	display: flex;
	margin: 0 100px;
	height: 40px; 
}

.search input[type="text"] {
	margin-right: 10px; /* 입력 필드 간 간격 설정 */
}

.dropdown-toggle {
	background-color: #333; /* 배경색을 검정색(#333)으로 변경 */
	color: white;
	padding: 10px 20px;
	display: flex; /* 내부 아이콘을 정렬하기 위해 flex 설정 */
	align-items: center; /* 아이콘을 수직 가운데 정렬 */
}

.dropdown-toggle i {
	margin-left: 10px; /* 아이콘과 텍스트 간 간격 설정 */
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-menu a {
	color: black; /* 텍스트 색상을 검정색으로 변경 */
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown:hover .dropdown-toggle {
	background-color: #555; /* 마우스 호버 시 배경색 변경 */
}

.dropdown {
	position: relative;
}
/* styles.css */
/* 테이블 스타일 */
#u_table {
	margin: 40px 40px;
}

table {
	border-collapse: collapse;
	width: 90%; /* 테이블 넓이 설정 */
	margin: 0 auto; /* 수평 가운데 정렬 */
}

th, td {
	padding: 10px; /* 셀 안의 내용과 셀 테두리 사이 여백 설정 */
	border: 1px solid #ddd; /* 셀 테두리 설정 */
}

th {
	background-color: #f2f2f2; /* 테이블 헤더 배경색 설정 */
}

/* 테이블 데이터 가운데 정렬 */
td {
	text-align: center;
}

.approve-button {
	background-color: #4CAF50; /* 배경색을 녹색(#4CAF50)으로 설정 */
	color: white;
	border: none;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	width: 100px;
}

.approve-button:hover {
	background-color: #45a049; /* 마우스 호버 시 배경색 변경 */
}

/* 삭제 버튼 스타일 */
.delete-button {
	background-color: #f44336; /* 배경색을 빨간색(#f44336)으로 설정 */
	color: white;
	border: none;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	width: 100px;
}

.delete-button:hover {
	background-color: #d32f2f; /* 마우스 호버 시 배경색 변경 */
}